<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BMI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>20FC48DE1E2D84D700E8D005</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>20FC48F21E2D84D800E8D005</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>20FC48FD1E2D84D800E8D005</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
